<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Aula2</display-name>
  <welcome-file-list>
    <welcome-file>teste.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Exemplo</display-name>
    <servlet-name>Cremilda</servlet-name>
    <servlet-class>Exemplo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cremilda</servlet-name>
    <url-pattern>/cremildinha</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Cremilda</servlet-name>
    <url-pattern>/cremilda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OlaGalera</display-name>
    <servlet-name>OlaGalera</servlet-name>
    <servlet-class>OlaGalera</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OlaGalera</servlet-name>
    <url-pattern>/OlaGalera</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExemploMetodos</display-name>
    <servlet-name>ExemploMetodos</servlet-name>
    <servlet-class>ExemploMetodos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExemploMetodos</servlet-name>
    <url-pattern>/ExemploMetodos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio2</display-name>
    <servlet-name>Exercicio2</servlet-name>
    <servlet-class>Exercicio2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio2</servlet-name>
    <url-pattern>/exercicio2/Exercicio2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerificarSistema</display-name>
    <servlet-name>VerificarSistema</servlet-name>
    <servlet-class>VerificarSistema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificarSistema</servlet-name>
    <url-pattern>/Exercicio3</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>TesteFilter</display-name>
    <filter-name>TesteFilter</filter-name>
    <filter-class>TesteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TesteFilter</filter-name>
    <url-pattern>/TesteFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Sistema</display-name>
    <servlet-name>Sistema</servlet-name>
    <servlet-class>Sistema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sistema</servlet-name>
    <url-pattern>/exercicio3/sistema.html</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ValidaSession</display-name>
    <filter-name>ValidaSession</filter-name>
    <filter-class>ValidaSession</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidaSession</filter-name>
    <url-pattern>/exercicio3/sistema2.html</url-pattern>
  </filter-mapping>
</web-app>