<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hibernate_jpa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Cadastro</display-name>
    <servlet-name>Cadastro</servlet-name>
    <servlet-class>Cadastro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cadastro</servlet-name>
    <url-pattern>/Cadastro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Listagem</display-name>
    <servlet-name>Listagem</servlet-name>
    <servlet-class>Listagem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listagem</servlet-name>
    <url-pattern>/Listagem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teste2</display-name>
    <servlet-name>Teste2</servlet-name>
    <servlet-class>Teste2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teste2</servlet-name>
    <url-pattern>/Teste2</url-pattern>
  </servlet-mapping>
</web-app>