<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Aula1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Exemplo</servlet-name>
    <servlet-class>Exemplo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Exemplo2</servlet-name>
    <servlet-class>Exemplo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exemplo</servlet-name>
    <url-pattern>/exemplo_servlet1.java</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exemplo2</servlet-name>
    <url-pattern>/exemplo_servlet2.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OlaGalera</display-name>
    <servlet-name>OlaGalera</servlet-name>
    <servlet-class>OlaGalera</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OlaGalera</servlet-name>
    <url-pattern>/OlaGalera</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio2</display-name>
    <servlet-name>Exercicio2</servlet-name>
    <servlet-class>Exercicio2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio2</servlet-name>
    <url-pattern>/Exercicio2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
</web-app>