<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Aula7</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ExemploHibernate</display-name>
    <servlet-name>ExemploHibernate</servlet-name>
    <servlet-class>ExemploHibernate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExemploHibernate</servlet-name>
    <url-pattern>/ExemploHibernate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaCurso</display-name>
    <servlet-name>ConsultaCurso</servlet-name>
    <servlet-class>ConsultaCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaCurso</servlet-name>
    <url-pattern>/ConsultaCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExemploAssociacao</display-name>
    <servlet-name>ExemploAssociacao</servlet-name>
    <servlet-class>ExemploAssociacao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExemploAssociacao</servlet-name>
    <url-pattern>/ExemploAssociacao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExemploConsulta</display-name>
    <servlet-name>ExemploConsulta</servlet-name>
    <servlet-class>ExemploConsulta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExemploConsulta</servlet-name>
    <url-pattern>/ExemploConsulta</url-pattern>
  </servlet-mapping>
</web-app>