<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Testes</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MeusCookies</display-name>
    <servlet-name>MeusCookies</servlet-name>
    <servlet-class>MeusCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeusCookies</servlet-name>
    <url-pattern>/MeusCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MinhasSessions</display-name>
    <servlet-name>MinhasSessions</servlet-name>
    <servlet-class>MinhasSessions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MinhasSessions</servlet-name>
    <url-pattern>/MinhasSessions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inserir</display-name>
    <servlet-name>Inserir</servlet-name>
    <servlet-class>Inserir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inserir</servlet-name>
    <url-pattern>/Inserir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controler</display-name>
    <servlet-name>Controler</servlet-name>
    <servlet-class>Controler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controler</servlet-name>
    <url-pattern>/Controler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerSelect</display-name>
    <servlet-name>ControllerSelect</servlet-name>
    <servlet-class>ControllerSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerSelect</servlet-name>
    <url-pattern>/ControllerSelect</url-pattern>
  </servlet-mapping>
</web-app>