<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Aula3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SalvandoCookie</display-name>
    <servlet-name>SalvandoCookie</servlet-name>
    <servlet-class>SalvandoCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalvandoCookie</servlet-name>
    <url-pattern>/SalvandoCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapturandoCookie</display-name>
    <servlet-name>CapturandoCookie</servlet-name>
    <servlet-class>CapturandoCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapturandoCookie</servlet-name>
    <url-pattern>/CapturandoCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CriandoSession</display-name>
    <servlet-name>CriandoSession</servlet-name>
    <servlet-class>CriandoSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CriandoSession</servlet-name>
    <url-pattern>/CriandoSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapturandoSession</display-name>
    <servlet-name>CapturandoSession</servlet-name>
    <servlet-class>CapturandoSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapturandoSession</servlet-name>
    <url-pattern>/CapturandoSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exemplo1</display-name>
    <servlet-name>Exemplo1</servlet-name>
    <servlet-class>Exemplo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exemplo1</servlet-name>
    <url-pattern>/Exemplo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exemplo2</display-name>
    <servlet-name>Exemplo2</servlet-name>
    <servlet-class>Exemplo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exemplo2</servlet-name>
    <url-pattern>/Exemplo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdicionarProduto</display-name>
    <servlet-name>AdicionarProduto</servlet-name>
    <servlet-class>AdicionarProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionarProduto</servlet-name>
    <url-pattern>/AdicionarProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarProduto</display-name>
    <servlet-name>ListarProduto</servlet-name>
    <servlet-class>ListarProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarProduto</servlet-name>
    <url-pattern>/ListarProduto</url-pattern>
  </servlet-mapping>
</web-app>