<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Aula7</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CRemilda</servlet-name>
    <servlet-class>actions.Cadastro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRemilda</servlet-name>
    <url-pattern>/Cadastro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Excluir</display-name>
    <servlet-name>Excluir</servlet-name>
    <servlet-class>actions.Excluir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Excluir</servlet-name>
    <url-pattern>/Excluir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConexaoHibernate</display-name>
    <servlet-name>ConexaoHibernate</servlet-name>
    <servlet-class>ConexaoHibernate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConexaoHibernate</servlet-name>
    <url-pattern>/ConexaoHibernate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultarHibernate</display-name>
    <servlet-name>ConsultarHibernate</servlet-name>
    <servlet-class>ConsultarHibernate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarHibernate</servlet-name>
    <url-pattern>/ConsultarHibernate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalvarHibernate</display-name>
    <servlet-name>SalvarHibernate</servlet-name>
    <servlet-class>SalvarHibernate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalvarHibernate</servlet-name>
    <url-pattern>/SalvarHibernate</url-pattern>
  </servlet-mapping>
</web-app>