<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Aula8</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConexaoJPA</display-name>
    <servlet-name>ConexaoJPA</servlet-name>
    <servlet-class>actions.ConexaoJPA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConexaoJPA</servlet-name>
    <url-pattern>/ConexaoJPA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalvarJPA</display-name>
    <servlet-name>SalvarJPA</servlet-name>
    <servlet-class>actions.SalvarJPA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalvarJPA</servlet-name>
    <url-pattern>/SalvarJPA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaJPA</display-name>
    <servlet-name>ConsultaJPA</servlet-name>
    <servlet-class>actions.ConsultaJPA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaJPA</servlet-name>
    <url-pattern>/ConsultaJPA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaPersistence</display-name>
    <servlet-name>ConsultaPersistence</servlet-name>
    <servlet-class>actions.ConsultaPersistence</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaPersistence</servlet-name>
    <url-pattern>/ConsultaPersistence</url-pattern>
  </servlet-mapping>
</web-app>